<%- model_class = Image -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3" style="border: 1px solid #eee; padding: 30px; background: #eeefff;">
    <div align="center">
      <%= image_tag(@image.picture.url, size: "300x300")  %> <br><br>
      Created by: <%= User.find(@image.user_id).email %> <br><br>
      Category: <%= @image.category.name %>
    </div>
  </div>
</div>



<%= link_to t('.back', :default => t("helpers.links.back")),
              images_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_image_path(@image), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              image_path(@image),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
